$text: #555;
$text2: #999;
$text3: #CCC;
$white: #FFF;

$mepay-header-mobile: #333;
$mepay-green: #6dbd44;
$mepay-blue: #2fa3db;
$mepay-blue2: #5688bb;
$mepay-blue3: #52b7ce;
$mepay-blue4: #4296ba;
$mepay-blue5: #55a4ff;

$label-color: #47545a;
$lines: #EEE;
$lines2: #DDD;
$placeholder: #BBB;

$main-bg: #F6F6F6;
$green-bg: rgba(109, 189, 68, .3);
$yellow-bg: #fff5cd;
$console-bg: #DEDEDE;
$date-bg: #EEE;

$error: #C00;
