// Override old colors 

$text: #555;
$text2: #999;
$text3: #CCC;
$white: #FFF;

$mepay-header-mobile: #333;
$mepay-green: #6dbd44;
$mepay-blue: #2fa3db;
$mepay-blue2: #5688bb;
$mepay-blue3: #52b7ce;
$mepay-blue4: #4296ba;
$mepay-blue5: #55a4ff;

$label-color: #47545a;
$lines: #EEE;
$lines2: #DDD;
$placeholder: #BBB;

$main-bg: #F6F6F6;
$green-bg: rgba(109, 189, 68, .3);
$yellow-bg: #fff5cd;
$console-bg: #DEDEDE;
$date-bg: #EEE;

$error: #C00;

// New colors 

$v2-red: #FA6B7C;
$v2-lred: #FCD1D6;

$v2-dgreen: #6DBC45;
$v2-green: #8CC63F;
$v2-lgreen: #C7E293;

$v2-dblue: #4296BA;
$v2-blue: #2FA3E0;
$v2-lblue: #52B7CE;
$v2-llblue: #AFD2E9;
$v2-lllblue: #C4E3F7;

$v2-black: #333;
$v2-ddgray: #445157;
$v2-dgray: #4D4D4D;
$v2-mgray: #70727E;
$v2-gray: #B6B6B6;
$v2-lgray: #E2E2E2;
$v2-llgray: #F6F6F6;
$v2-lllgray: #F9F9F9;
$v2-white: #FFF;

$v25-blue: #39A2E5;
$v25-lgray: #D1D1D1;
$v25-llgray: #E9E9E9;
$v25-lllgray: #F4F4F4;
$v25-white: #FEFEFE;

